body {
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
}

input {
    width: 40%;
}

button {
    width: 40%;
}

#circulo {
    background-color: red;
}

.fondo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}